.main{
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
}

.main__intro{
    margin: 0 15rem;
    display: flex;
    width: calc(100% - 30rem);
}

.main__div{
    width: 50%;
}

.main__div1{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 15% 0 0;
}

.main__title{
    font-size: 3rem;
    font-weight: 400;
}

.main__text{
    font-size: 1.5rem;
    font-family: ronnia-condensed, sans-serif;
    font-weight: 300;
}

.main__button{
    width: 15rem;
    height: 4rem;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    font-family: ronnia-condensed, sans-serif;
    font-weight: 300;
    
}

.main__button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(120,162,45,1) 25%, rgba(30,120,61,1) 100%);
}

.main__divider{
    font-size: 3rem;
    border-top: solid 1px #78A22D;
    border-bottom: solid 1px #78A22D;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 95%;
}

.main__projects{
    margin: 0 15rem;
    width: calc(100% - 30rem);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.projects__card{
    width: 55rem;
    height: 70rem;
    background: #78A22D;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 3rem;
}

.title__div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card__title{
    font-size: 2rem;
    font-family: ronnia-condensed, sans-serif;
}

.card__tags{
    display: flex;
    gap: 1rem;
}

.tags__tag{
    list-style: none;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 1rem;
    min-width: 3rem;
    text-align: center;
    height: 2rem;
}

.php{
    background: #4F5B93;
}

.css{
    background: #156aa6;
}

.js{
    background: #f7df1e;
}

.sql{
    background: #F29111;
}

.python{
    background: #4B8BBE;
}

.wordpress{
    background: #444140;
}

.card__div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card__img{
    width: 100%;
    max-height: 45rem;
    object-fit: cover;
}

.card__text{
    width: 75%;
    font-size: 1.25rem;
    font-family: ronnia-condensed, sans-serif;
}

.card__link{
    text-decoration: none;
}

.project__button{
    width: 15rem;
    height: 4rem;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    font-family: ronnia-condensed, sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.project__button:hover{
    cursor: pointer;
}

.projects__div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects__text{
    font-size: 2rem;
    font-family: ronnia-condensed, sans-serif;
}

.projects__link{
    text-decoration: none;
}

.projects__button{
    width: 15rem;
    height: 4rem;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    font-family: ronnia-condensed, sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.projects__button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(120,162,45,1) 25%, rgba(30,120,61,1) 100%);
}

.filter__button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: solid white 1px;
    color: white;
    background: transparent;
}

.filter__button:hover{
    cursor: pointer;
}

.main__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 2rem;
}

.about__title{
    font-size: 3rem;
    font-weight: 400;
}

.about__text{
    font-size: 1.5rem;
    font-family: ronnia-condensed, sans-serif;
    font-weight: 300;
}

.contact__link{
    text-decoration: none;
}

.about__button{
    width: 15rem;
    height: 4rem;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    font-family: ronnia-condensed, sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.about__button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(120,162,45,1) 25%, rgba(30,120,61,1) 100%);
}