*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-image: url("/assets/img/verloop.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

body{
    background-image: url("/assets/img/verloop.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: "fieldwork", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.header{
    width: calc(100% - 30rem);
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 15rem 0 15rem;
}

.header__logo{
    height: 100%;
}

.header__logo:hover{
    cursor: pointer;
}

.header__div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10%;
}

.header__link{
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
}

.header__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(120,162,45,1) 25%, rgba(30,120,61,1) 100%);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.header__link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.burger__menu{
    display: none;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.main__divider{
    font-size: 3rem;
    border-top: solid 1px #78A22D;
    border-bottom: solid 1px #78A22D;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 95%;
}

.footer__contact{
    margin: 0 15rem;
    display: flex;
    width: calc(100% - 30rem);
}

.contact__div{
    width: 50%;
}

.contact__div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.contacts{
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 2.5rem;
    font-family: ronnia-condensed, sans-serif;
    width: 22rem;
    text-decoration: none;
}

.contacts__icon{
    color: #78A22D;
    background: #0c0c0c;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts__text{
    font-size: 2rem;
    color: white;
}

.contact__div2{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contact__icon{
    font-size: 2.5rem;
    color: white;
    background: #78A22D;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.footer__copyright{
    width: 100%;
    padding: 2rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #232323;
}

.footer__img{
    height: 9rem;
    width: 9rem;
}

.footer__text{
    font-size: 1.5rem;
    font-family: ronnia-condensed, sans-serif;
}

.menu{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/verloop.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

@media screen and (max-width: 1050px) {
    .header, .footer__contact {
        width: 90%;
        margin: 5rem auto 0;
    }

    .contact__div1{
        align-items: start;
    }

    .contact__div2{
        justify-content: end;
    }
}

@media screen and (max-width: 850px) {

    .header__div{
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }

    .header{
        gap: 4rem;
    }
}

@media screen and (max-width: 750px) {
    .header__logo{
        display: block;
    }

    .header{
        justify-content: space-between;
    }

    .header__div{
        display: none;
    }

    .burger__menu{
        display: block;
        font-size: 5rem;
    }

    .burger__menu:hover{
        cursor: pointer;
    }

    .footer__contact{
        width: 90%;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .footer__contact{
        flex-direction: column;
        gap: 2.5rem;
    }

    .contact__div2{
        justify-content: start;
    }

    .contacts{
        gap: 0.5rem;
    }
}