*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

body {
    margin: 4rem;
    height: calc(100vh - 8rem);
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 71%, rgba(9,9,121,1) 85%, rgba(9,9,121,1) 100%);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 10%;
}

.header__icon {
    font-size: 5rem;
}

.info__section {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.section__title {
    font-size: 6rem;
    font-weight: 300;
}

.section__text {
    font-size: 2rem;
}

.section__button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    background: linear-gradient(to left, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    cursor: pointer;
    color: black;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Small, subtle shadow */
}

.footer {
    width: 10%;
}

.pattern {
    display: flex;
    --s: 100px;
    --m: 4px;
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
    width: 40%;
    height: 100%;
    position: absolute;
    top: -20rem;
    right: -20rem;
}
  
.container {
    font-size: 0;
}
  
.container div {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547); 
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: white;
    margin-bottom: calc(var(--m) - var(--s)*0.2885); 
}

.container::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px),#000  0 var(--f));
}