.main{
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 0 15rem;
}

.main__img{
    width: 100%;
    max-height: 95vh;
    object-fit: cover;
}

.info__title{
    font-size: 3rem;
}

.info__text{
    width: 75%;
    font-size: 1.7rem;
    font-family: ronnia-condensed, sans-serif;
}

.info__section{
    display: flex;
    height: 10rem;
    justify-content: space-between;
    height: 100%;
}

.info__div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.info__title{
    text-transform: uppercase;
    white-space: nowrap;
}

.info__list {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.list__item{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 48%;
    font-size: 1.7rem;
    gap: 0.5rem;
}

.item__title{
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0.6;
}

.item__text{
    font-family: ronnia-condensed, sans-serif;
    white-space: nowrap;
}

.links__div{
    display: flex;
    gap: 2rem;
}

.button__link{
    text-decoration: none;
}

.live__button{
    width: 15rem;
    height: 4rem;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    font-family: ronnia-condensed, sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.live__button:hover{
    cursor: pointer;
    background: linear-gradient(90deg, rgba(120,162,45,1) 25%, rgba(30,120,61,1) 100%);
}

.about__title{
    font-size: 3rem;
    text-transform: uppercase;
}

.about__text{
    font-size: 1.7rem;
    font-family: ronnia-condensed, sans-serif;
}

@media screen and (max-width: 1000px) {
    .main{
        padding: 0 5%;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .info__section{
        flex-direction: column;
        gap: 2rem;
    }

    .info__div, .info__list, .info__text{
        width: 100%;
    }
}